.logout-button {
  background-color: #fff;
  color: #571729;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ff6666;
}

  .header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: #fff;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 100%; /* This will allow the image to adjust to the header's height */
    width: auto; /* Ensures the image maintains its aspect ratio */
    max-height: 60px; /* Makes sure the logo fits within the header height */
    margin: 0 20px; /* Adjusts the margin for a cleaner look */
  }
.search_box{
  display: flex;
  align-items: center;
}



.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: right; /* Center the nav items */
}

.nav-links li {
  margin: 0 10px; /* Space between nav items */
}

.nav-links a {
  text-decoration: none;
  color: #333; /* Link color */
  font-weight: bold; /* Make links bold */
}

.nav-links a:hover {
  color: #ff6666; /* Change color on hover */
}

.header-icons{
  display: flex;
  align-items: right;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .profile-management{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .profile-management img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

